* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.cabecera {
  height: 5rem;
  background-color: #0e0b14;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.container {
  background-image: url('/img/background-pelisTop.png');
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;

}
.title{
  width: 100%;
  max-width: 900px;
  margin: 0 auto;
  display: grid;
  align-items: center;
}
.title h2 {
   text-align: center;
   padding:25px;
   font-size: 47px;
}
.title input{
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  padding: 1.6em;
  border-radius: 50px;
  border: 0.5 solid #fff;
  background-color: transparent;
  color: #fff;
  font-size: 16px;
}

.buscador input {
  width: 100%;
  max-width: 300px;
  margin: 0 auto;
}


#container_peliculas {
  width: 90%;
  max-width: 1000px;
  padding: 90px;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap:40px;
}

.title_post {
  font-size: 18px;
  line-height: 28px;
  text-align: center;
  font-weight: 600;
}
.title_post h3{
  padding: 10px;
  
}

.poster {
  height: 50vh;
  border-radius: 20px;
  box-shadow: #0e0b14;
}
