* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.cabecera {
  height: 5rem;
  background-color: #0e0b14;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.cabecera a {
  text-decoration: none;
  color: #fff;
}
.container {
  background-image: url('../img/background-pelisTop.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  color: #fff;
}
.title {
  width: 100%;
  max-width: 900px;
  margin: 0 auto;
  display: grid;
  align-items: center;
}
.title h2 {
  text-align: center;
  padding: 25px;
  font-size: 47px;
}
.title input {
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  padding: 1.6em;
  border-radius: 50px;
  border: 0.5 solid #fff;
  background-color: transparent;
  color: #fff;
  font-size: 16px;
}

.buscador input {
  width: 100%;
  max-width: 300px;
  margin: 0 auto;
}

#container_peliculas {
  width: 100%;
  max-width: 1100px;
  padding: 50px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(13rem, 1fr));
  gap: 2.5rem;
}
.container_peliculas {
  width: 100%;
  max-width: 1100px;
  padding: 50px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(13rem, 1fr));
  gap: 2.5rem;
}

.title_post {
  font-size: 18px;
  line-height: 28px;
  text-align: center;
  font-weight: 600;
}
.title_post h3 {
  padding: 10px;
}

.vote {
  display: flex;
  justify-content: space-around;
}

.poster {
  height: 45vh;
  border-radius: 20px;
  box-shadow: #0e0b14;
}
.footer {
  height: 5rem;
  background-color: #0e0b14;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
